<ion-header>

  <ion-navbar color="primary">
    <ion-title>Searched Places</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="dark-bg">
  <!-- Show map here -->
  <div id="map"></div>

  <ion-toolbar color="secondary" padding-horizontal>
    <p ion-text class="text-white">
      <strong>{{lots.length}}</strong> results found!
    </p>
  </ion-toolbar>

  <!--list of lots-->
  <ion-grid class="list-lots" no-padding>
    <ion-row no-padding>
      <ion-col no-padding tappable col-12 col-md-6 col-lg-6 col-xl-4 *ngFor="let lot of lots" (click)="viewLot(lot)">
        <div class="lot-bg" [ngStyle]="{'background-image': 'url(' + lot.thumb + ')'}">
          <div class="bg-filter">
            <div class="discount" *ngIf="lot.sale_price">{{ (100 * (1 - lot.price / lot.sale_price)).toFixed(0)
              }}%
            </div>
            <div class="bottom-info">

              <div>
                <div class="pull-left">
                  <h5 ion-text class="text-white">{{ lot.name }}</h5>
                </div>
                <div class="pull-right">
                  <ion-badge class="square badge-right" color="primary">
                  {{ lot.numb_available_spots }} spots left
                  </ion-badge>
                </div>
                <div class="clear"></div>
              </div>

              <div>
                <div class="pull-left">
                  <ion-badge class="square" color="secondary">{{ lot.rating }}</ion-badge>
                  <span class="rating-label text-white" ion-text> of 5 - guest rating</span>
                </div>
                <div class="pull-right">
                  <span class="price text-white" *ngIf="!lot.sale_price"
                        ion-text>{{ lot.price | currency }}</span>
                  <span class="origin-price" *ngIf="lot.sale_price">{{ lot.price | currency }}</span>
                  <span class="sale-price text-white bold" *ngIf="lot.sale_price" ion-text>{{ lot.sale_price | currency }}</span>
                </div>
                <div class="clear"></div>
              </div>
            </div>

          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
